    <h1>Search Candidates</h1>
    <div class="col-lg-8 col-md-12">
        <div class="row justify-content-end">
            <div class="input-group-append">
                <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="categorySearch">Select Category:</label>
                        <select class="form-control bg-light rounded-0 text-capitalize" formControlName="category" id="category-search" name="category-search">
                            <option  [ngValue]="category" *ngFor="let category of categories">{{category}}</option>
                        </select>
                    </div>
                    <button type="submit">
                        Search
                    </button>
                </form>
                <div *ngIf="categorySelected">
                    <select class="form-control bg-light rounded-0 text-capitalize" id="skill-search" name="skill-search" (change)="addSearchSkill($event.target.value)">
                        <option (ngClick)="addSearchSkill(skill.skill)" [ngValue]="skill" *ngFor="let skill of allSkills">{{skill.skill}}</option>
                    </select>
                </div>
                <div *ngIf="searchSkills">
                    <div *ngFor="let skill of searchSkills">
                        <button class="btn btn-danger" (click)="removeSearchSkill(skill)">Remove {{skill}}</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
     
    <br>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" *ngIf="candidates">
    <thead>
      <tr>
        <th class="th-sm">Candidate name
        </th>
        <th class="th-sm">Email
        </th>
        <th class="th-sm">Explore Candidate
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of viewSet">
        <td>{{candidate.firstName}} {{candidate.lastName}}</td>
        <td>{{candidate.email}}</td>
        <td>
          <button class="btn btn-outline-primary">View</button>
        </td>
      </tr>
    </tbody>
  </table>

<router-outlet></router-outlet>