<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark" >
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#section-one">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section-two" >Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section-three">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section-four">Download App</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand" [routerLink]="['home']">
        <img src="https://s7.orientaltrading.com/is/image/OrientalTrading/13826467?$PDP_VIEWER_IMAGE$" width="40" height="40" alt="logo">
        Smart Recruit
      </a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['login']">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user-signup']">Sign Up</a>
            </li>
        </ul>
    </div>
  </nav>